*{
  padding: 0;
  margin: 0;
}
body{
  background-color: aqua;
  height: 100vw;
  width: 100%;
}
.game-container{
  height: 50vw;
  width: 100vw;
}
#game{
  height: 20vw;
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 20vw;
}
.box{
  height: 11vw;
  width: 15vw;
  border: none;
  border-radius: 7px;
  background-color: #ffffc7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2px;
  font-size: 5vw;
  color: red;
}
h2{
  text-align: center;
  margin-bottom: 10px;
}
.btn{
  background-color: rgb(136, 19, 19);
  color: white;
  padding: 5px;
  margin: 10px;
  margin-left: 41vw;
  border:none;
}
.msg-container{
  display: block;
}
.box:disabled{
  background-color: #d3d3d3;
  cursor: not-allowed;
}
.hide{
  display: none;
}